.container.main-nav {
  display: flex;
  align-items: center;
}

.nav_list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link-current,
.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  .nav__link-current {
    color: var(--accent);
  }
}

.nav__link-current::after {
  position: absolute;
  width: 100%;
  content: "";
  background-color: var(--accent);
  height: 4px;
  border: solid 1px var(--accent);
  bottom: 0%;
  left: 0%;
  border-radius: 2px;
}

.nav {
  display: flex;
  align-items: center;
}
