.address {
  color: var(--primary-background-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.address-block {
  width: 231px;
  height: 81px;
  margin-right: 70px;
}
