:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent: #2196f3;
  --footer-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --border-color: #ececec;
  --clients-border: #afb1b8;
  --social-footer-color: rgba(255, 255, 255, 1);
}
